.idea
.env
*.egg-info
*.pyc
/features/core_config/core_config_baseurls.ini
/features/core_config/core_config_backend.ini
/features/core_config/dummy_customer.ini
/features/core_config/docker_config.ini
/features/core_config/db_config.ini
/features/dev_tests.feature
/features/mariadb.feature
/.ipynb_checkpoints/
/*.ipynb
/screenshots/*
!/screenshots/.gitkeep
/dumps/*
!/dumps/.gitkeep
/bck/*
!/bck/.gitkeep
