DEVELOPMENT_ADMIN_USERNAME: str = ''
DEVELOPMENT_ADMIN_FIRSTNAME: str = ''
DEVELOPMENT_ADMIN_LASTNAME: str = ''
DEVELOPMENT_ADMIN_EMAIL: str = ''
DEVELOPMENT_BACKEND_URL: str = 'backend/'

INTEGRATION_ADMIN_USERNAME: str = ''
INTEGRATION_ADMIN_FIRSTNAME: str = ''
INTEGRATION_ADMIN_LASTNAME: str = ''
INTEGRATION_ADMIN_EMAIL: str = ''
INTEGRATION_BACKEND_URL: str = ''

TEST_ADMIN_USERNAME: str = ''
TEST_ADMIN_FIRSTNAME: str = ''
TEST_ADMIN_LASTNAME: str = ''
TEST_ADMIN_EMAIL: str = ''
TEST_BACKEND_URL: str = ''

STAGING_ADMIN_USERNAME = ''
STAGING_ADMIN_FIRSTNAME = ''
STAGING_ADMIN_LASTNAME: str = ''
STAGING_ADMIN_EMAIL: str = ''
STAGING_BACKEND_URL: str = ''

PRE_PRODUCTION_ADMIN_USERNAME: str = ''
PRE_PRODUCTION_ADMIN_FIRSTNAME: str = ''
PRE_PRODUCTION_ADMIN_LASTNAME: str = ''
PRE_PRODUCTION_ADMIN_EMAIL: str = ''
PRE_PRODUCTION_BACKEND_URL: str = ''

PRODUCTION_ADMIN_USERNAME: str = ''
PRODUCTION_ADMIN_FIRSTNAME: str = ''
PRODUCTION_ADMIN_LASTNAME: str = ''
PRODUCTION_ADMIN_EMAIL: str = ''
PRODUCTION_BACKEND_URL: str = ''
